* {
    margin: 0;
    padding: 0;
    font-family: "ubuntu", sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; 
    background-color: #e6e6e6; 
  }
/*MENU*/
/*#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .menu {
    float: left;
    background-color: #333;
  }
  
  .menu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menu a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: blue;
  }*/

 
  
  .a {
    color: #FFF;
  }
  
  
  #container {
    margin: 0;
  }
  
  nav {
    margin: 30px auto;
    background-color: #4fb7f9;
    box-shadow: 0px 3px 20px 3px #162433;
  }
  
  nav ul {
      padding: 0;
      margin: 0 auto;
      list-style: none;
      position: relative;
      text-align: center;
      background-color: #66b3ff;
  }
    
  nav ul li {
    display:inline-block;
    background-color: #4fb7f9;
    position: relative;
    z-index: 2;
    }
  
  nav a {
    display:block;
    padding:0 20px; 
    color:#FFF;
    font-size:16px;
    line-height: 60px;
    text-decoration:none;
  }
  
  nav a:hover { 
    background-color: #000000; 
  }
  
  nav ul ul {
    display: none;
    position: absolute; 
    top: 60px; 
  }
    
  nav ul li:hover > ul {
    display:inherit;
  }
    
  nav ul ul li {
    width:300px;
    float:none;
    display:list-item;
    position: relative;
  }
  
  nav ul ul ul li {
    position: relative;
    top:-60px; 
    left:170px;
  }
  
    
  i {
      border: solid white;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 4px;
      margin: -7px 0 0px 7px;
      vertical-align: middle;
  }
  
  .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
  }
  
  .left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
  }
  
  .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
  }
  
  .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
  }

/*FIN*/

/*IUTA*/

.img-img {
  position: fixed;
  width: 80px;
  height: 60px;
  background: none;
}


.text-1{
display: inline-block;
margin-left: 8%;
margin-top: 2%;
padding-left: 2%;
}



/*FIN*/

/* Article */


#article {
 
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  border-radius: 5px;
}

.img-1 {
  border: 3px solid #fff;
  display: inline-block;
  width: 20%;
  height: 20%;
  margin: 2%;

}

.section-img{
  border: 3px solid #66b3ff ;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 10px 12px 20px 0 #111;
  position: relative;
 }

 .text {
  font-family: 'Courier New', Courier, monospace;
  line-height: 2;
  padding-top: 5%;
  padding-bottom: 5%;


 }

 .img-2 {
  border: 3px solid #fff;
  display: inline-block;
  width: 20%;
  height: 20%;
  margin: 2%;
 }
/* FIN */

/* TEST */

.test-go {
  margin-top: 7%;
  text-align: center;
  text-shadow: 10px 12px 20px  #111;
  
}

.option {
  background-color: #fff;
  border-radius: 5px;
  display: inline-block;
  margin-top: 5%;
  padding: 2%;
  
}

.option{
  display: inline-block;
  width: 30%;
  height: 30%;
  margin: 5%;
}

.option {
  border: 3px solid #66b3ff ;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 10px 12px 20px 0 #111;
  position: relative;
}

.option a h4 {
  color: #111;
  background-color: #fff;
  text-align: center;
}

.option a h4 {
  -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.option:hover a h4 {
  background-color: #66b3ff; 
  color: white;
}

.option {
  -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.option:hover {
  background-color: #66b3ff; 
  color: white;
}

.option {
  word-wrap: break-word;
}
/* FIN */